.frame-A
{
    width:900px;
}
.frame-A-0
{
    display:flex;
    flex-direction: column;
    border:3px solid black;
    width:653px;
    height:353px;
}
.frame-A-0-0
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:650px;
    height:350px;
}
.innerWrap
{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.nameText
{
    font-size: 100px;
    font-weight: 700;
}

/*--------------------------------*/
.frame-buttons-A
{
    margin-top:18px;
    margin-left:344px;
    position:fixed;
}
.frame-buttons-B
{
    margin-top:400px;
    margin-left:120px;
    position:fixed;
}
/*--------------------------------*/
.myButton1
{
    box-shadow: 0px 4px 0px 0px black;
    outline:none;
    transition:0.3s;
    border-radius: 150px;
    height: 69px;
    width: 400px;
    font-size: 35px;
    font-weight: 800;
}
.myButton2
{
    box-shadow: 0px 4px 0px 0px black;
    outline:none;
    transform:scale(0);
    position:absolute;
    margin-left:-300px;
    transition:0.3s;
    border-radius: 150px;
    height: 69px;
    width: 200px;
    font-size: 35px;
    font-weight: 800;
}
.myButton1:hover
{
    background:green;
    color:white;
}
.myButton2:hover
{
    background:green;
    color:white;
}
.myButton1:active
{
    box-shadow: 0px 1px 0px 0px black;
     transform: translateY(3px);
}
.myButton1:focus
{
    outline:none;
}
.myButton2:active
{
    box-shadow: 0px 1px 0px 0px black;
     transform: translateY(3px);
}
.myButton2:focus
{
    outline:none;
}
